
.employee-section{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 20%;
  width: 73%;

}
.search-bar {
    display: flex;
    gap: 10px;
    background-color: #D9D9D9;
    padding: 0px 0px 0px 14px;
    height: 60px;
    margin-bottom: 5px;
    align-items: center;

}

.search-bar input[type="text"] {
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 200px;
  border-radius: 20px;
  height: 35px;
  width: 30%;

}

.search-bar button {
  background-color: #045E9D;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  border-radius: 20px;
  height: 35px;
  display: flex;
  align-items: center;
  width: 20%;
  margin-left: 60px;
  justify-content: center;

}

.search-bar button:hover {
  background-color: #0056b3;
}
.table-container{
  overflow-y: scroll;
  height: 400px;
  overflow-x: hidden;

}
.table-container::-webkit-scrollbar{
  width: 5px;
  padding-left: 20px;
}
.table-container::-webkit-scrollbar-track{
  background: #fff;
  border-radius: 20px;
}

.table-container::-webkit-scrollbar-thumb{
  background:#045E9D;
  border-radius: 20px;
}

table {
  border-collapse: collapse;
  margin-bottom: 50px;
  background-color: white;
  align-items: center;


}

table th, table td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #ddd;

}

table th {
  background-color: #fff;
  font-weight: bold;
}

table td img {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

table .btn-Approve
{
border-radius: 20px;
align-items: center;
display: flex;
justify-content: center;
i{
  color: green;
}
}
.btn-edit{
  border-radius: 20px;
  align-items: center;
  border: none;
  display: flex;
  justify-content: center;
  background-color: rgb(209, 0, 0);
  color: #ccc;
  width: 50%;
  }

@media (max-width:1200px) {
  .employee-section{
    left: 27%;
    z-index: -1;
  }

  table td img{
    width: 30px;
  height: 30px;
  margin-right: 0px;

  }
}
