<section  class="employee-section" >
  <div class="search-bar">
  <input type="text" placeholder="Employee ID">
  <input type="text" placeholder="Employee Name">
  <button>Search</button>

</div>
<div class="table-container">
<table  class="table table-striped">
  <thead>
    <tr>
      <th *ngFor="let column of columns">{{ column.title }}</th>
      <th *ngIf="actions.length">Actions</th>
    </tr>
  </thead>
  <tbody >
    <tr *ngFor="let row of data">
      <ng-container *ngFor="let column of columns">
        <td *ngIf="column.key === 'employee'">
          <img [src]="row['employee'][0]" alt="{{ row['employee'][1] }}" width="50" height="50">
          {{ row['employee'][1] }}
        </td>
        <td *ngIf="column.key !== 'employee'">{{ row[column.key] }}</td>
      </ng-container>
      <td *ngIf="actions.length">
        <button class="btn-Approve" *ngFor="let action of actions" (click)="onActionClick(action, row)">
          <i class="fa-solid fa-circle"></i>{{ action }}
        </button>
      </td>
      <td *ngIf="edits.length">
        <button  class="btn-edit" *ngFor="let edit of edits" (click)="onEditClick(edit, row)">
          {{ edit }}
        </button>
      </td>
    </tr>

  </tbody>
</table>
</div>
</section>
