<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <a href=""><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a href=""><span>Leave Management</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a href=""><span>All Leave</span></a>
</div>
<app-employee-table
  [data]="leaveData"
  [columns]="['Employee', 'typeLeave', 'email', 'from', 'to','reason']"
  [actions]="['Approve']"
  (actionEvent)="handleAction($event)">
</app-employee-table>
<app-footer></app-footer>
