<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <a routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/all-leave"><span>Leave Management</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/all-leave"><span>All Leave</span></a>
</div>
<app-employee-table
  [data]="leaveData"
  [columns]="headerLeave"
  [actions]="['Approve']"
  (actionEvent)="handleAction($event)">
</app-employee-table>
<app-footer></app-footer>
