<header class="header ">
  <nav  class="nav item1">
      <i (click)="openSideBar()" class="fa-solid fa-bars icon"></i>
      <img routerLink="/home" class="logo" src="../../../assets/logo.png" alt="sfsdfsdf">
      <h1 routerLink="/home" >HR Sysrem</h1>
    </nav>
    <div class="item2" >
      <h3 (click)="toggleDropdown()">{{ selectedLanguage }}</h3>
      <div *ngIf="isDropdownOpen" class="dropdown">
          <ul>
            <li (click)="switchLanguage('en')">
              <i class="fa-solid fa-flag-usa" style="color: #aa0600;"></i> English
          </li>
          <li (click)="switchLanguage('ar')">
              <i class="fa fa-flag" style="color: #177f03;"></i> العربية
          </li>
          </ul>
      </div>
    <div class="item3">
      <i class="fa-solid fa-bell icon"></i>
        <img routerLink="/profile" src="../../../../assets/img1.jpg" alt="" class="profile-img">
        <a routerLink="/profile">
          <span>{{ 'profile' | translate }}</span>
        </a>
      </div>
    </div>
</header>
<nav [class.open]="isSidebarOpen" class=" sidebar   ">
  <div class="menu-bar">
      <div class="menu" >
              <li title="Dashboard" class="menu-item mb-2">
                  <a routerLink="/home" class="nav-link">
                      <span class="text nav-text">{{'dashboard' | translate }}</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </a>

              </li>
              <li (click)="Employee()"   title="Employees" class="menu-item mb-2">
                  <div class="nav-mainItem ">
                      <span class="text nav-text">{{ 'employees' | translate }}</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </div>
                  @if(isEmployee ){<ul >
                    <li>
                      <a routerLink="/all-employees" class="nav-link">
                        <span class="sub-text">{{ 'all_employees' | translate }}</span>
                    </a>
                    </li>

                  </ul>}
              </li>
            <li (click)="Leave()"   title="Leave management" class="menu-item mb-2">
                <div class="nav-mainItem ">
                    <span class="text nav-text">{{ 'leave_management' | translate }}</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>
                @if(isLeave){<ul >
                  <li>
                    <a routerLink="/all-leave" class="nav-link">
                      <span class="sub-text" >{{ 'all_leave' | translate }}</span>
                  </a>
                  </li>
                  <li>
                    <a routerLink="/attendance" class="nav-link">
                      <span class="sub-text">{{ 'attendance' | translate }}</span>
                  </a>
                  </li>
                  <li>
                    <a routerLink="/overtime" class="nav-link">
                      <span class="sub-text">{{ 'overtime' | translate }}</span>
                  </a>
                  </li>
                </ul>
              }
              </li>
              <li  (click)="Requests()" title=" Requests approval" class="menu-item mb-2">
                  <div class="nav-mainItem ">
                      <span class="text nav-text">{{ 'requests_approval' | translate }}</span>
                      <i class="fa-solid fa-angle-right"></i>
                  </div>
                      @if(isRequests ){<ul>
                        <li>
                          <a routerLink="/employees-request" class="nav-link">
                            <span class="sub-text">{{ 'employee_requests' | translate }}</span>
                        </a>
                        </li>
                      </ul>}

              </li>
              <li (click)="payroll()"  title=" Payroll" class="menu-item mb-2">
                <div class="nav-mainItem ">
                    <span class="text nav-text">{{ 'payroll' | translate }}</span>
                    <i class="fa-solid fa-angle-right"></i>
                </div>

                @if(isPayroll ){<ul>
                  <li>
                    <a routerLink="/employees-salary" class="nav-link">
                      <span class="sub-text">{{ 'employees-salary' | translate }}</span>
                  </a>
                  </li>
                </ul>}
            </li>
            <li title="Reports" class="menu-item mb-2">
              <a routerLink="/reports" class="nav-link">
                  <span class="text nav-text">{{ 'reports' | translate }}</span>
                  <i class="fa-solid fa-angle-right"></i>
                </a>
          </li>
      </div>
      <div class="nav-profile">
        <li>
          <a routerLink="/profile" class="">
              <span><img src="../../../../assets/img1.jpg" alt="" class="profile-img">{{ 'profile' | translate }}
              </span><i class="fa-solid fa-angle-right "></i>
            </a>


      </li>
      <li>
        <a  (click)="logout()" >
            <span>
              <i class="fa-solid fa-right-from-bracket"></i>
              {{ 'logout' | translate }}</span>
                <i class="fa-solid fa-angle-right"></i>
          </a>

    </li>
    </div>
  </div>
</nav>
<h2  [class.textH2]="isSidebarOpen" class="textH2" id="tH2" >{{isTitle}}</h2>
