<div class="x01-main screen">
  <div class="contener d-flex ">
      <img class="pass-img"src="../../../assets/img2.webp" alt="fasdfsagv">

      <form action="" class="forget-form flex-column">
        <div class=" header d-flex">
          <img class="logo" src="../../../assets/logo.png" alt="sfsdfsdf">
          <h1>HR System</h1>
        </div>
        <div class="span1">
          <span>Reset Password<br> Us Help You</span>
        </div>
        <div class="email d-flex justify-content-center flex-column">
          <label for="">Enter your registered email address.</label>
          <input type="email" placeholder="Employee@gmail.com" required />
        </div>
        <div>
        </div>
        <div class="btn-login d-flex justify-content-center">
          <button class="btn " routerLink="">Send Instructions </button>
        </div>
        <div class="login d-flex justify-content-center">
          <a routerLink="/login" ><span  >LOGIN?</span></a>
          </div>
      </form>
    </div>
  </div>
<app-footer></app-footer>
