.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  padding: 30px;
}

.modal-header {
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
    margin-bottom: 30px;
}

.input-group {
  margin-bottom: 20px;
}

.input-group-text {
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

.form-control {
  border-radius: 0 5px 5px 0;
  border: 1px solid #ccc;
  padding: 10px; }

textarea {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px; }

.btn-primary,
.btn-secondary {
  padding: 10px 20px;
  font-weight: bold;
  border-radius: 10px;
}
.checkbox-group {
  display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    left: 20px;
    width: 50%;
}

.checkbox-group label {
  margin-left: 5px;
  cursor: pointer;
  font-size: 16px;}

.checkbox-group input[type="checkbox"] {
  margin-right: 8px;
  transform: scale(1.2);
  cursor: pointer;
}

.btn-primary {
  transition: background-color 0.3s;
  margin-left: 10px;
  border-radius: 10px;
}

.btn-primary:hover {
  background-color: #004080; }

.close {
  background-color: #fff;
  border: none;
}

.close:hover {
  color: red;
  border-radius: 50px;
}
