<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Leave </h5>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-text">First Name</span>
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">Last Name</span>
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">Email</span>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-text">Position</span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-text">Leave Type</span>
        <div class="checkbox-group">
          <div>
            <input type="checkbox" id="annual">
            <label for="annual">Annual</label>
          </div>
          <div>
            <input type="checkbox" id="sick">
            <label for="sick">Sick</label>
          </div>
          <div>
            <input type="checkbox" id="other">
            <label for="other">Other</label>
          </div>
        </div>
      </div>
      <div class="input-group">
        <span class="input-group-text">From</span>
        <input type="date" class="form-control">
        <span class="input-group-text">To</span>
        <input type="date" class="form-control">
      </div>
      <div class="input-group">
        <span class="input-group-text">Comment</span>
        <textarea placeholder="Comment"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="close()">Close</button>
      <button class="btn btn-primary" (click)="close()">Add Leave</button>
    </div>
  </div>
</div>
