<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <a routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/home"><span>Home</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/profile"><span>Profile</span></a>
</div>
<section class="employee-data col-4">
    <div  class="employee-card col-md-8" >
      <img src="../../../assets/img1.jpg" alt="Sobhe Nemer">
      <div class="employee-info">
          <p>Sobhe Nemer</p>
          <span>sobhe.gmail.com</span>
      </div>
      <div class="media">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-whatsapp"></i>
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <button class="btn ">Edit profile</button>
      </div>
    <div class="bio" >
      <div class="card ">
        <h4 >
          Bio
        </h4>
        <div class="row">
          <div class="col-md-6">
            <p><strong>First name:</strong>  Sobhe</p>
            <p><strong>Country:</strong>  Jordan</p>
            <p><strong>Position:</strong> Developer</p>
            <p><strong>Salary:</strong>  500</p>
          </div>
          <div class="col-md-6">
            <p><strong>last Name:</strong> Nemer</p>
            <p><strong>Birthday:</strong> 10 July 2000</p>
            <p><strong>Email:</strong> Sobhe.gmail.com</p>
            <p><strong>Mobile Phone:</strong> 0782165141</p>
          </div>
        </div>
      </div>
      <div class="review">
        <div class="card-review">
          50 Total overtime
        </div>
        <div class="card-review">
          50 Total overtime
        </div>
        <div class="card-review">
          50 Total overtime
        </div>
    </div>
    </div>

</section>


<app-footer></app-footer>


