<div class="modal-overlay" *ngIf="isVisible">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Add Request</h5>
      <button type="button" class="close" (click)="close()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="input-group">
        <span class="input-group-text">First Name</span>
        <input type="text" class="form-control" placeholder="First Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">Last Name</span>
        <input type="text" class="form-control" placeholder="Last Name">
      </div>
      <div class="input-group">
        <span class="input-group-text">Email</span>
        <input type="email" class="form-control" placeholder="Email">
      </div>
      <div class="input-group">
        <span class="input-group-text">Position</span>
        <input type="text" class="form-control" placeholder="Position">
      </div>
      <div class="input-group">
        <span class="input-group-text">request Type</span>
      </div>
        <div class="checkbox-group">
          <div>
            <input type="checkbox" id="annual">
            <label for="annual">Request for promotion</label>
          </div>
          <div>
            <input type="checkbox" id="sick">
            <label for="sick">Request for salary increase</label>
          </div>
          <div>
            <input type="checkbox" id="other">
            <label for="other">Request for work from home</label>
          </div>
          <div>
            <input type="checkbox" id="other">
            <label for="other">Other</label>
          </div>
        </div>
      <div class="input-group">
        <span class="input-group-text">Comment</span>
        <textarea placeholder="Comment"></textarea>
      </div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-secondary" (click)="close()">Close</button>
      <button class="btn btn-primary" (click)="close()">Add Request</button>
    </div>
  </div>
</div>
