<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <a href=""><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a href=""><span>Requests approval</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a href=""><span>Employee Request</span></a>
</div>
<app-employee-table
[data]="requestdata"
  [columns]="['Employee', 'Type Request', 'Email','reason']"
  [actions]="['Approve']"
  (actionEvent)="handleAction($event)">
</app-employee-table>
<app-footer></app-footer>
