<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <a routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/employees-request"><span>{{'requests_approval' | translate}}</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/employees-request"><span>{{'employee_requests' | translate}}</span></a>
</div>
<div class="request-modal">
  <button (click)="addModal()" class="btn-modal">{{'add_request' | translate}}</button>
</div>
  @if (showModal ) {
    <app-request-modal></app-request-modal>
  }
<app-employee-table
[data]="requestdata"
  [columns]="header"
  [actions]="['Approve']"
  (actionEvent)="handleAction($event)">
</app-employee-table>
<app-footer></app-footer>


