<div class="x01-main screen">
  <div class="contener d-flex ">
      <img class="pass-img"src="../../../../assets/img3.png" alt="deleted img">
      <form action="" class="reset-form flex-column">
        <div class=" header d-flex">
          <img class="logo" src="../../../assets/logo.png" alt="deleted img">
          <h1>HR System</h1>
        </div>
        <div class="span1">
          <span>{{ 'create_new_password' | translate }}</span>
        </div>
        <div class="pass d-flex justify-content-center flex-column">
          <input type="password" placeholder="{{ 'new_password' | translate }}" required />
        </div>
        <div class="pass d-flex justify-content-center flex-column">
          <input type="password" placeholder="{{ 'confirm_new_password' | translate }}" required />
        </div>
        <div>
        </div>
        <div class="btn-login d-flex justify-content-center">
          <button class="btn " routerLink="/resetPassword">{{ 'reset_password' | translate }}</button>
        </div>

      </form>
    </div>
  </div>
<app-footer class="footer"></app-footer>
