h2 {
  color: #007bff;
  font-size: 24px;
}

.ng-container {
  top: 14%;
  display: flex;
  justify-content: end;
  padding-right: 50px;
  align-items: center;
  z-index: -1;
  margin-top: 3%;
}


.ng-container .fa-house,
.ng-container a {
  color: #0673C0;
  font-size: 20px;
  padding: 4px;
  text-decoration: none;
}

.ng-container .fa-angle-right{
  margin-top: 4px;

}
.reports{
  display: flex;
  grid-template-columns: repeat(3, 1fr);
  position: absolute;
  left: 17%;
  gap: 9%;
  top: 25%;
  z-index: -1;
}
.report-card {
  background-color: #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 7px;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  width: 65%;
  height: 160px;
  font-weight: bolder;
  cursor: pointer;

    a{
      text-decoration: none;
      color: #0673C0;
      font-size: 18px;
    }
  }
@media (max-width: 1199px) {
  .ng-container {
    display: none;

  }

  }


