<app-header [isTitle]="pageTitle"></app-header>
<div class="ng-container">
  <app-salary-modal></app-salary-modal>
  <a routerLink="/home"><i class="fa-solid fa-house"></i></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/employees-salary"><span>{{'payroll' | translate}}</span></a>
  <i class="fa-solid fa-angle-right"></i>
  <a routerLink="/employees-salary"><span>{{'employees_salary' | translate}}</span></a>
</div>
<app-salary-modal [isVisible]="isModalVisible" (close)="closeModal()"></app-salary-modal>

<app-employee-table [data]="Salaydata"
[columns]="headerSalary"
[edits]="['Edit']"
  (editEvent)="onEditClick($event)"></app-employee-table>

<app-footer></app-footer>
